.headerContainer{
  height: 50px;
  width: 100%;
  margin-top: 16px;
  

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  a {
    color: var(--white-100);
    text-decoration: none;
  }

  > a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
  }

    

  nav {
    display: flex;

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin-right: 42px;
      }

      li:last-child {
        text-transform: uppercase;
        

        a {
          display: flex;
          padding: 0.6rem;
          border: 2px solid var(--purple-300);
          border-radius: 10px;

          transition: all 0.2s;
        }

        a:hover {
          border: none;
          background: var(--purple-300);
        }
      }
    }
  }
}