.embla {
  padding: 1.6rem;
  
  .embla__viewport {
    overflow: hidden;

    .embla__container {
      display: flex;
      flex-direction: row;
      height: 358px;
      margin-left: calc( 1rem * -1);
    
      .embla__slide {
        flex: 0 0 70%;
        min-width: 0;
        padding-left: 1rem;
        position: relative;
      }
      .embla__slide__img {
        display: block;
        height: auto;
        width: 100%;
        // object-fit: cover;
      }
      
    
    }
  }
  
  
}
