* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-100: #F5F5F5;

  --black-700: #201E1E;
  --black-800: #130F14;
  --black-900: #000000;

  --green-500: #2E939A;

  --purple-300: #BA68C8;
 
  --purple-500: #4B4B9A;



}

body {
  background-image: url("../../images/Background.png"); 
  background-color: var(--black-800); 
  background-repeat: no-repeat;  
  background-size: cover;
  background-attachment: fixed;
  max-width: 1061px;
  margin: 0 auto;
  padding: 1rem;

;
  
}



@media(max-width: 1080px){
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px){
  html {
    font-size: 87.5%;
  }
}

body, input, textarea, button {
  font: 500 1rem Inter, sans-serif;
  color: var(--white-100);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--white-100);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}