.main {
  width: 1061px;
  margin: 0px auto;


  .content {
    margin-top: 126px;

    display: flex;

    section {
      display: flex;
      flex-direction: column;

      h1 {
        width: 525px;
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 100%;
      }

      p {
        width: 478px;
        margin-top: 73px;
        margin-right: 61px;
        font-style: normal;
        font-size: 18px;
        line-height: 100%;
      }

      button {
        margin-top: 50px;
        width: 172px;
        height: 58px;

        font-weight: 700;

        background: var(--green-500);
        border: none;
        border-radius: 14px;

        align-self: center;
        animation: button 2s linear infinite;

        @keyframes button {
          50% {
            opacity: 0;
          }
        }

        &:hover {
          animation: none;
        }
      }
    }
  }
  
  img {
    width: 100%;
    height: auto;
    margin-left: 3rem;
  }
}



